# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/

# Production
dist/

# Misc
.DS_Store
Thumbs.db
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local Env Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
! .env.example

# Vera/Prisma
*.db
*.sqlite
*.sqlite3

# TurboRepo
.turbo/

# IDEs
.vscode/
.idea/
*.swp
*.swo
